/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body,
.form-control {
    background: #75B8C8;
    color: #506C64;
    font-family: 'Quicksand', 'Ubuntu', sans-serif;
}

.form-control {
    border-width: 3px;
    color: #220C10;
}

.form-control:hover {
    border-color: #220C10;
    background: #CDD3D5;
}

.form-control:active,
.form-control:focus {
    background: #77CBB9;
    animation: 400ms cubic-bezier(.49, .13, .57, 1.28) 10ms forwards grow;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}